
/****************************/
/***** Darkness Mode    *****/
/****************************/
body{
  background: #031634 !important;
}
.quran-page .title,
.quran-page .title .quran-page-counter input{
  background: #00587A;
}
.quran-page .title .quran-page-counter{
  background: #008891;
}
.quran-page-navigator .next:hover,
.quran-page-navigator .previous:hover{
  background: #008891;
}
.quran_textbox .quran_ar_content{
  background: #033649 !important;
  color: #D6DAC2 !important;
}
.quran_textbox .quran_tr_text,
.quran_textbox .quran_ar_text{
  color: #D6DAC2 !important;
}
.quran_textbox .quran_ar_content{
  -webkit-border-image: url('../images/border-dark.png') 22 round; /* Safari 3.1-5 */
  -o-border-image: url('../images/border-dark.png') 22 round; /* Opera 11-12.1 */
  border-image: url('../images/border-dark.png') 22 round;
}
.quran_textbox .quran_tr_content{
  -webkit-border-image: url('../images/border-dark.png') 22 round; /* Safari 3.1-5 */
  -o-border-image: url('../images/border-dark.png') 22 round; /* Opera 11-12.1 */
  border-image: url('../images/border-dark.png') 22 round;
}
.quran_textbox .quran_ar_text span.quran-text-ar.selected,
.quran_textbox .quran_tr_text span.quran-text-tr.selected{
  background: #066e75;
}
.quran_textbox .quran_ar_text span.quran-text-ar.selected small{
  background: #00587A;
}
.quran_textbox .suraName{
  color: #222;
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.quran_textbox .suraNameTr{
  border-color: #008891;
  background: rgba(0,0,0,0.2);
}
.menu{
  background: #474747 !important;
}

ul.nav li:hover{
  background: #444;
}
ul.nav li a{
  color: #aaa;
}
ul.nav li a:hover{
  color: #ccc;
}

ul.child{
  background: #474747;
  border-color: #222;
}
ul.child li:hover{
  background: #444;
}
ul.child li a{
  color: #aaa;
}
ul.child li a:hover{
  color: #ccc;
}
.setting-nav{
  background: #555;
  color: #D6DAC2;
  border-color: #333;
}
.quran-page-navigator.menubar #currentPageNumberText{
  color: #aaa;
}
.quran-page-navigator.menubar .next:hover,
.quran-page-navigator.menubar .previous:hover{
  background: #557780;
}
.quran-page .sidebar{
  background: #333;
  color: #999;
}
.quran-page .sidebar .header{
  border-color: #666;
}
.quran-page .sidebar .header:hover,
.quran-page .sidebar .wrap .bookmark:hover{
  background: #444;
}
.wrap .bookmark .bookmark-remove{
  color: rgba(255, 255, 255, 0.4);
}
.playerArea .station{
  background: rgba(255,255,255,0.2);
}

@media only screen and (max-width: 768px) {
  .menu span.menu-icon:hover{
    color: #acc545;
  }
  ul.nav{
    background: #555;
    border-top: 1px solid #333;
  }
  ul.nav li{
    border-color: #777;
  }
}
